.RightSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  padding: 2.5rem 0 2.5rem 0;
}
@media (max-width: 800px) {
  .RightSidebar {
    align-items: center;
    width: 100vw;
    min-height: auto;
    padding: 1rem 0 1rem 0;
  }
} 